<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estore Activation Email</title>
    <style>
      .email-container {
        padding: 20px;
        background: #edefef;
        font-family: "Calibri";
      }
      .otp {
        text-align: center;
      }
      .email-footer {
        background-color: #050016;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div class="email-body">
        <p>Hello <%= name %></p>
        <p>Following is your activation code:</p>
        <h2 class="otp"><%= otp %></h2>
        <p>The activation code is valid for next 5 minutes.</p>
        <p>
          If you did not register for a Estore accout, please ignore this email.
        </p>
      </div>
      <div class="email-footer">
        <p>
          If you have any questions, please don't hesitate to contact us at
          <a href="mailto:ritikdoijod13601@gmail.com"></a>
        </p>
      </div>
    </div>
  </body>
</html>
